RewriteEngine On
RewriteBase /

# Main domain
RewriteCond %{HTTP_HOST} !^natribu.org
RewriteRule ^(.*) http://natribu.org/$1 [L,R=permanent]

# Old adresses
RewriteRule ^spasibo_za_nahui/index.shtml spasibo_za_nahui/ [L,R=permanent]
RewriteRule ^media/media.shtml media/ [L,r=permanent]

RewriteRule ^(.+/)?editor editor.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php
