<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<title>О проекте НАХУЙ</title>
	
	<style>
	body {
		display: grid;
		background: #FFF;
		color: #000;
		grid-template-areas: ". h h ." ". m m ." ". f f .";
		grid-template-columns: 15% 35% 35% 15%;
		grid-template-rows: repeat(3, auto);
	}
	header {grid-area: h}
	main {grid-area: m}
	footer {grid-area: f}
	header, footer, .center {text-align: center}
	main > p:first-line, .natribu-analytics-counter, .custom {
		color: red;
		font-weight: bold;
	}
	h1 > span {
		font-size: smaller;
	}
	.btn {
		padding: .5em;
		-webkit-appearance: button;
		text-decoration: none;
		color: #000;
	}
	</style>
	<!-- SEO & Social media -->
	<meta name="robots" content="index,nofollow"/>
	<meta name="description" content="Официальный сайт символического направления"/>
	<meta property="og:title" content="О проекте НАХУЙ"/>
	<meta property="og:description" content="Официальный сайт символического направления"/>
	<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg"/>
	<meta property="og:url" content="https://next.natribu.org/"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<!-- Icons -->
	<link rel="icon" type="image/png" href="static/icon-16px.png" sizes="16x16"/>
	<link rel="icon" type="image/png" href="static/icon-32px.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="static/icon-96px.png" sizes="96x96"/>
	<link rel="icon" type="image/png" href="static/icon-192px.png" sizes="192x192"/>
	<!-- Async components -->
	<script defer src="static/langSelect.js"></script>
	<link rel="preload" href="static/restof.css" as="style" onload="this.rel='stylesheet'"/>
	<!-- Tor/NoScript -->
	<noscript>
		<link rel="stylesheet" href="static/restof.css"/>
	</noscript>
	<!-- Etc -->
	<meta name="google" content="notranslate"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<header>
		<h1>О проекте НАХУЙ</h1>
		<h2>Вопросы про НАХУЙ, ответы про жизнь</h2>
		<form method="GET" action="/setlang">
			<select name="locale">
				<optgroup label="xUSSR:">
					<option value="ru">ru: Русский офис</option>
				</optgroup>
			</select>
			<button type="submit"></button>
		</form>
	</header>
	<main>
		<p>
			Зачем вы меня послали?<br>
			Не надо обладать высоким интеллектом, чтобы догадаться: посылают в
			начале пути, а не в конце. Послали не мы, послали - к нам. Вас пытался
			оскорбить тот, кто дал вам эту ссылку. Мы, наоборот, всегда рады вам
			как дорогому и долгожданному гостю. Нахуй любит вас!
		</p>
		<p>
			Хотим разместить у вас рекламный блок, предлагаем 1000$ в месяц.<br>
			Наш сайт принципиально некоммерческий. Реклама здесь недопустима:
			Господь люто накажет всякого, кто пытается заработать деньги на том,
			что людей иногда посылают нахуй.
		</p>
		<p>
			Мне так понравилась ваша страница, что я тоже такую хочу!<br>
			Эта страница - изначальная и единственная, клонировать ее запрещено.
			Разумеется, посылать нахуй придумали за несколько тысяч лет до нас. Но
			мы придумали идею, форму, а главное - сочинили формулировки. И если вы
			сумеете придумать свою страницу, при чтении которой никто не
			догадается, откуда ее украли, - мы возражать не будем. Но это у вас не
			получится, если вы заранее хотите страницу "такую же". Нет, "такие же"
			создавать запрещено.
		</p>
		<p>
			Вы слышали про гору в Перу?<br>
			Да, мы слышали и про гору в Перу, и про реку в Китае, и про поселок
			в Индии, и про все остальное. Если есть место на Земле, чье имя для
			русского языка звучит не очень прилично, мы про него давно слышали.
			<a href="http://natribu.org/spasibo_za_nahui">http://natribu.org/spasibo_za_nahui</a>
		</p>
		<p>
			Вы слышали, что есть похожий сайт? И есть такой телефонный номер?<br>
			После того, как в 2004 году мы создали эту страницу, возникло
			множество заимствований и подражаний в самых разных областях. К
			сожалению, в отличие от нас, их авторами движет корысть: все эти
			проекты создаются, чтобы заработать деньги, впаривая вам рекламу и
			баннеры. С этими грехами мы не имеем ничего общего, и ничего знать о
			них не желаем.
		</p>
		<p>
			Я готов перевести НАХУЙ еще на один язык!<br>
			Человечество будет вам благодарно! Зайдите на <a href=http://natribu.org/admin.php>http://natribu.org/admin.php</a>,
			наберите буквенный код, которым принято обозначать эту страну в
			интернете, придумайте свой пароль и - вперед! Страница начнет работать
			сразу, а в общее меню мы ее впишем после.
		</p>
		<p>
			Сам ты мудак!!! Сука!!! Лох ванючий!!! Гандон!!! Сам иди нахуй!!!!<br>
			<a href="https://google.ru/search?q=Обиженных+ебут">Вы злой и нервный человек.</a>
		</p>
		<p>
			Скажите, откуда вы столько обо мне знаете?!<br>
			Просто мы увлекаемся интернет-программированием. Но мы никому не скажем!
		</p>
		<p>
			Немедленно удалите с вашего сайта страницу с
			оскорблениями в мой адрес или я подам в суд!<br>
			Мы - эхо, которое рисует на экране те слова и имена, которые вы нам
			принесли. Мы сожалеем, что кто-то пытался серьезно оскорбить вас при
			помощи нашего сайта - он не предназначен для оскорблений всерьез. Но вы
			можете быть уверены: на нашем сайте такой страницы нет, никогда не было
			и, разумеется, не будет. Все подчеркнутые красные слова принесли сюда
			вы сами: хулиган закодировал их в строке ссылки, по которой вы сюда
			зашли. Вы тоже можете сочинить ему в ответ любое послание и получить
			длинную ссылку, в которой окажутся закодированы любые написанные вами
			слова и имена: <a href="http://natribu.org/editor">http://natribu.org/editor/</a>
			Технически это организовано так, что у нас нет возможности прочитать
			или сохранить фразы, которые придумывают наши посетители.
		</p>
		<p>
			Вы как-то связаны с человеком по имени ...?<br>
			Разумеется, нет. Каждый день наш сайт открывают для себя несколько
			тысяч новых посетителей. Понравившуюся ссылку они затем рассылают
			друзьям, упоминают в чатах, прописывают в своих userinfo. Можем ли мы
			знать всех этих людей и быть в курсе, где и кому они процитировали
			ссылку наш проект?
		</p>
		<p>
			Мы хотим предложить вам идею, работу, совместный
			проект, взять интервью, пригласить на телепередачу!<br>
			Исключено. Поверьте: в реальной жизни у нас есть хорошее дело,
			которое никак не связано с тем, что вы нашли на странице "НАХУЙ".
			Никакие проекты в этой области нас не могут заинтересовать. И мы
			категорически не желаем, чтобы кто-то начал знакомство с нами через
			раздел "НАХУЙ".
		</p>
		<p>
			И все-таки, как с вами связаться?<br>
			Вам не кажется, что пойти нахуй и при этом надеяться с кем-то там
			связаться - это очень самоуверенно? Впрочем, если вы человек злой и
			глупый, - у вас есть уникальная возможность написать сообщение нахуй:
			<a href="http://natribu.org/post">http://natribu.org/post</a>
			Ну а если вы человек умный и сообразительный, для вас не составит труда
			с нами связаться.
		</p>
	</main>
	<footer>
		<a class="btn" href="/">НАХУЙ</a>
	</footer>
</body>
</html>
