<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<title>НАХУЙ ЗДЕСЬ</title>
	
	<style>
	body {
		display: grid;
		background: #FFF;
		color: #000;
		grid-template-areas: "p p p v" ". h h ." ". m m ." ". f f .";
		grid-template-columns: 15% 35% 35% 15%;
  		grid-template-rows: 5% repeat(3, auto);
	}
	p.aside {grid-area: p}
	video.aside {grid-area: v}
	header {grid-area: h}
	main {grid-area: m}
	footer {grid-area: f}
	header, footer, .center {text-align: center}
	main > p:first-line, .natribu-analytics-counter {
		color: red;
		font-weight: bold;
	}
	h1 > span {
		font-size: smaller;
	}
	.btn {
		padding: .5em;
		-webkit-appearance: button;
		text-decoration: none;
		color: #000;
	}
	</style>
	<!-- SEO & Social media -->
	<meta name="robots" content="index,nofollow"/>
	<meta name="description" content="Официальный сайт символического направления"/>
	<meta property="og:title" content="НАХУЙ"/>
	<meta property="og:description" content="Официальный сайт символического направления"/>
	<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg"/>
	<meta property="og:url" content="https://next.natribu.org/"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<!-- Icons -->
	<link rel="icon" type="image/png" href="static/icon-16px.png" sizes="16x16"/>
	<link rel="icon" type="image/png" href="static/icon-32px.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="static/icon-96px.png" sizes="96x96"/>
	<link rel="icon" type="image/png" href="static/icon-192px.png" sizes="192x192"/>
	<!-- Async components -->
	<script defer src="static/langSelect.js"></script>
	<script defer src="static/main.js"></script>
	<link rel="preload" href="static/restof.css" as="style" onload="this.rel='stylesheet'"/>
	<!-- Tor/NoScript -->
	<noscript>
		<link rel="stylesheet" href="static/restof.css"/>
		<style>a[data-id],iframe{display:none}</style>
	</noscript>
	<!-- Etc -->
	<meta name="google" content="notranslate"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<p class="aside">
		"Маленький шаг для одного человека - большой шаг для всего человечества." © Н.Армстронг<br>
		“Let my people go!” © Л.Армстронг
	</p>
	<video class="aside" src="static/nah.mp4"></video>
	<header>
		<h1>НАХУЙ</h1>
		<h2>Официальный сайт символического направления</h2>
		<form method="GET" action="/setlang">
			<select name="locale">
				<optgroup label="xUSSR:">
					<option value="ru">ru: Русский офис</option>
				</optgroup>
			</select>
			<button type="submit"></button>
		</form>
	</header>
	<main>
		<p>
			Ой, что это?!<br>
			Здесь расположено официальное представительство НАХУЙ в интернете. Сюда посылают.
		</p>
		<p>
			Что же это значит?!<br>
			Если вы оказались на этой странице, это означает только одно: вас послали нахуй. Грубо, но элегантно: прислав эту ссылку.
		</p>
		<p>
			Как же такое могло случиться со мной?!<br>
			Вот самые распространенные причины:
			<ul>
				<li>Вы утомили собеседника глупыми вопросами, просьбами или советами.</li>
				<li>Вы обидели собеседника неосторожным высказыванием: задели его
				религиозные, политические, музыкальные и прочие взгляды и вкусы,
				либо иным образом вторглись в его внутренний мир и подвергли
				 критике то, чем он дорожит.</li>
				<li>Вам намекают о том, что не вернут долг, не заплатят за работу,
					отказывают в сексуальной близости.</li>
				<li>С вами просто не хотят общаться. Такое тоже бывает.</li>
			</ul><br>
			Есть конечно вариант, что вы попали на эту страницу случайно, 
				найдя ее, например, в поисковике.
			Задумайтесь: быть может, вам надо серьезно пересмотреть свои взгляды
				на жизнь, если даже поисковики стали по своей инициативе предлагать
				вам пойти нахуй?
		</p>
		<p>
			Что же мне теперь делать?!<br>
			Советуем:
			<ul>
				<li>Пересмотреть свое отношение к этому человеку.</li>
				<li>Всерьез на него обидеться.</li>
				<li>Поставить закладку, и в следующий раз послать ссылку тому, кого хотите послать нахуй вы.</li>
				<li>Если ваш собеседник плохо понимает написанное - пришлите ему ссылку для слепых, рисунок или логотип, выбрав подходящий шедевр в нашей <a href="/media/">медиатеке</a></li>
			</ul>
		</p>
		<p>
			Как мне теперь жить?!<br>
			<ul>
				<li>Запомните: вы не первый, кого послали нахуй, и не последний. Эта страница была открыта 9 января 2004, и нахуй сюда послали уже более <span class="natribu-analytics-counter">10 миллионов</span> человек.</li>
				<li>Остерегайтесь подделок: эта страница изначальная и единственная. Мы постоянно совершенствуем её.</li>
				<li>Знайте: благодаря особому интерактивному устройству, всякий раз, когда кто-нибудь идёт нахуй, в штаб-квартире Официального направления раздается из колонок тихий печальный вздох. Мы в курсе ваших похождений. Нахуй любит вас!</li>
			</ul>
		</p>
	</main>
	<footer>
		<p class="center">
			<a class="btn" href="#" data-id="goBack">Вернуться назад</a>
			<a class="btn" href="#" data-id="addFavorite">Добавить в Избранное</a>
			<a class="btn" href="#" data-id="setStartPage">Сделать страницу стартовой</a>
			<a class="btn" href="#" data-id="sendNatribu">Послать друга</a>
		</p>
		<a class="btn" href="/about">О проекте НАХУЙ</a>
		<iframe class="github" src="https://ghbtns.com/github-btn.html?user=natribu&repo=natribu.org&type=star"></iframe>
	</footer>
	<script id="js-locale" type="application/json">
	{
		bookmarkName: "НАХУЙ",
		goBack: [
			"Что вы, как маленький?\nОтсюда ещё никто не возвращался.",
			"Извините."
		],
		addFavorite: "Поздравляем! Вы - избранный!",
		setStartPage: [
			"Вас не пугает риск ухудшить свое настроение и самооценку?",
			"Заходите в меню Настройки обозревателя и делайте страницу стартовой.\nНикто за вас это не сделает!"
		],
		sendNatribu: [
			"Чтобы послать друга, отправьте ему эту ссылку в ЛС или по емейл.\nМы за вас это сделать не можем - пропадёт эффект.",
			"Удачи в дружбе!"
		]
	}
	</script>
</body>
</html>